.center {
    margin: 0;
    position: absolute;
    top: auto;
    left: auto;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.window-size{
        display: inline
}
